#twilight {background-color:rgb(250, 11, 11);
    height:3000px;
     left:0px;
     position:fixed;
     bottom:0px;
     right:0px;
     top:0px; }
#brambora {background-color:rgb(255, 230, 0);
    height:100px;
     top:300px;
     position:fixed;
     width:50px;}

 #kybl {background-color:rgb(165, 27, 147);
    height:100px;
     left:20px;
     position:fixed;
     bottom:20px;
     width:100px;
     }  
 #libuse {background-color:rgb(216, 202, 6);
    height:100px;
     left:120px;
     position:fixed;
     bottom:20px;
     width:100px;
     }    
.zavarenina {background-color:rgb(233, 140, 35);
    height:100px;
     
     position:fixed;
     width:20px;
     }       
